[submodule "deokseong-rothko"]
	path = deokseong-rothko
	url = https://github.com/zeakd/rothko-project
[submodule "shinyoung-plot.js"]
	path = shinyoung-plot.js
	url = https://github.com/fairesy/plot.js/
[submodule "hyewon-scroll-animation-library"]
	path = hyewon-scroll-animation-library
	url = https://github.com/kimhyewon/scroll-animation-library/
[submodule "erin"]
	path = erin
	url = https://github.com/dragonist/2015-02-JS/
[submodule "byjo-list.js"]
	path = byjo-list.js
	url = https://github.com/byjo/list.js
[submodule "jb-MWiki"]
	path = jb-MWiki
	url = https://github.com/JB1021/MWIKI-02-2015/
